* {
    margin: 0;
    box-sizing: border-box;
}

.clock {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    border: 5px solid #33928f;
    margin: 10px auto 0;
    
}

.center {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #33928f;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clockHandBig {
    width: 180px;
    height: 4px;
    background-color: #33928f;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-100%, 100%);
    animation: clockHandBig 6s linear infinite;
    
}

@keyframes clockHandBig {
    from {
        transform: rotate(0deg) translate(-52%, 100%);
        top: 22%;
        left: -80px;
        
    }
    to {
        transform: rotate(360deg) translate(-52%, 100%);
        top: 22%;
        left: -80px;
    }
}

.clockHandSmall {
      width: 120px;
    height: 4px;
    background-color: #33928f;
    position: absolute;
    top: 22%;
    left: 70%;
    transform: translate(-100%, 100%);
    animation: clockHandSmall 10s linear infinite;
}

@keyframes clockHandSmall {
    from {
        transform: rotate(0deg) translate(-52%, 100%);
        top: 22%;
        left: -50px;
        
    }
    to {
        transform: rotate(360deg) translate(-52%, 100%);
        top: 22%;
        left: -50px;
    }
}