* {
    margin: 0;
    box-sizing: border-box;
}

.clock {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    border: 5px solid #33928f;
    margin: 10px auto 0;
    position: relative;
}

.center {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #33928f;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clockHandBig {
    width: 45%;
    height: 4px;
    background-color: #33928f;
    position: absolute;
    top: 50%;
    left: 50%;
     transform-origin: 0% 0%;
      transform: translate(0%, -50%);
    animation: clockHandBig 6s linear infinite;
    
}

@keyframes clockHandBig {
    from {
        transform: rotate(0deg) translate(0%, -50%);
        
        
    }
    to {
        transform: rotate(360deg) translate(0%, -50%);
        
    
}
}
.clockHandSmall {
      width: 35%;
    height: 4px;
    background-color: #33928f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0% 0%;
    transform: translate(0%, -50%);
    animation: clockHandSmall 8s linear infinite;
}

@keyframes clockHandSmall {
    from {
        transform: rotate(0deg) translate(0%, -50%);
        
        
    }
    to {
        transform: rotate(360deg) translate(0%, -50%);
        
    }
}